.counter {
  display: flex;
  gap: 10px;
  align-items: center;
}

.results {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.positive {
  color:green;
}

.negative {
  color:red;
}