
.item {
  display: flex;
  gap: 10px;
  align-items: center;
} 

.indicator {
  width: 10px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  overflow: hidden;
  background-color: red;
}

.completed {
  background-color: green;
}